.irArriba {
    position: fixed;
    bottom: 50px;
    right: 3%;
	  cursor: pointer;
	
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

[data-lang="en"] {
  display: none;
}

.position-relative {
  position: relative; /* Asegura que el contenedor de palabras esté posicionado correctamente */
}

.words {
  position: absolute;
  top: 0; /* Permite que las palabras ocupen toda la imagen */
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribución más desordenada */
  align-items: center; /* Alinea verticalmente */
  pointer-events: none; /* Ignora interacciones */
}

.words span {
  margin: 0 10px; /* Aumenta el margen para mayor separación */
  font-size: 2rem;
  color: white;
  opacity: 0; /* Inicialmente ocultas */
  animation: fadeInOut 8s ease-in-out infinite; /* Animación */
  transition: opacity 2s ease;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 0.2; }
}


.carousel-infinite-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-infinite {
  display: flex;
  gap: 20px;
  animation: scroll-infinite 15s linear infinite;
}

.carousel-icon {
  width: 70px; /* Ajusta el tamaño del icono */
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

bg-dark-custom {
  background-color: #000;
  color: #fff;
}
.error-message {
  color: red;
  font-size: 0.875rem;
  display: none; /* Ocultar mensaje de error por defecto */
}